.navItem {
  padding: 0.8rem 1.25rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.navIcon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.4rem;
}

.navLabel {
  color: black;
  font-size: 1rem;
  text-decoration: none;
}
